

@import '../../../_common/styles/common.scss';

.frame1{
	// opacity: 1;
}

#banner{	
	width: 120px;
	height: 600px;
}

.star{
	transform-origin: 50% 50%;
}

.star.star1{
	@include pos-scale(-28, -19, .5);
}

.star.star2{
	@include pos-scale(36, -19, .5);
}

.star.star3{
	@include pos-scale(-28, 78, .5);
}

.star.star4{
	@include pos-scale(36, 78, .5);
}

.cta, .cta2{
	// @include pos-scale(-18, 0, .5);
}