

@import '../../../_common/styles/common.scss';

.frame1{
	// opacity: 1;
}

#banner{	
	width: 300px;
	height: 600px;
}

.star{
	transform-origin: 50% 50%;
}

.star.star1{
	@include pos-scale(-35, -20, .5);
}

.star.star2{
	@include pos-scale(42, -20, .5);
}

.star.star3{
	@include pos-scale(118, -20, .5);
}

.star.star4{
	@include pos-scale(195, -20, .5);
}



.star.star5{
	@include pos-scale(-35, 90, .5);
}

.star.star6{
	@include pos-scale(42, 90, .5);
}

.star.star7{
	@include pos-scale(118, 90, .5);
}

.star.star8{
	@include pos-scale(195, 90, .5);
}



