

@import '../../../_common/styles/common.scss';

.frame1{
	// opacity: 1;
}

#banner{	
	width: 970px;
	height: 250px;
}

.star{
	transform-origin: 50% 50%;
}

.star.star1a{
	@include pos-scale(-48, -46, .5);
}

.star.star2a{
	@include pos-scale(58, -46, .5);
}

.star.star3a{
	@include pos-scale(165, -46, .5);
}

.star.star4a{
	@include pos-scale(609, -46, .5);
}

.star.star5a{
	@include pos-scale(716, -46, .5);
}

.star.star6a{
	@include pos-scale(825, -46, .5);
}


.star.star1b{
	@include pos-scale(-48, 102, .5);
}

.star.star2b{
	@include pos-scale(58, 102, .5);
}

.star.star3b{
	@include pos-scale(165, 102, .5);
}

.star.star4b{
	@include pos-scale(609, 102, .5);
}

.star.star5b{
	@include pos-scale(716, 102, .5);
}

.star.star6b{
	@include pos-scale(825, 102, .5);
}

