

	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="retina" >
		

		

		<img src="./images/player1.png" class="retina player1" id="player1" >
		<img src="./images/player1.png" class="retina player1" id="player2" >
		<img src="./images/player1.png" class="retina player1" id="player3" >
		<img src="./images/player1.png" class="retina player1 main" id="player4" >

		<img src="./images/player2.png" class="retina player2" >

		<img src="./images/t1a.png" class="retina t1a" >
		<img src="./images/t1b.png" class="retina t1b" >
		


		<div class="ball" ></div>
		<div class="bgGrad"></div>

	</div>

<% include ./frame_end %>
