


	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="retina" >
		<div class="bgGrad"></div>

		
		<img src="./images/player1.png" class="retina player1" id="player1" >
		<img src="./images/player1.png" class="retina player1" id="player2" >
		<img src="./images/player1.png" class="retina player1" id="player3" >
		<img src="./images/player1.png" class="retina player1 main" id="player4" >

		<img src="./images/t1a.png" class="retina t1a" >
		<img src="./images/t1b.png" class="retina t1b" >


		<img src="./images/ball.png" class="retina ball" >

	</div>

<% include ./frame_end %>
