

@import '../../../_common/styles/common.scss';


#banner{	
	width: 300px;
	height: 250px;
}

.star{
	transform-origin: 50% 50%;
}

.star.star1{
	@include pos-scale(-29, -31, .5);
}

.star.star2{
	@include pos-scale(37, -31, .5);
}

.star.star3{
	@include pos-scale(-29, 67, .5);
}

.star.star4{
	@include pos-scale(37, 67, .5);
}

.star.star5{
	@include pos-scale(-29, 157, .5);
}

.star.star6{
	@include pos-scale(37, 157, .5);
}



.frame1{
	// opacity: 1;
}